.section {
    padding-top: 3.5rem;
}

.content {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    gap: 1.5rem;
}

.text {
    font-size: 1.1rem;
    color: var(--secondary);
    line-height: 1.8;
    margin: 0;
    text-align: justify;
    text-justify: inter-word;
}
